@model IEnumerable<DocumentAllViewModel>
@{
    ViewData["Title"] = "Mine Downloaded Documents";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h4 class="text-center">You do not have any downloaded documents yet!</h4>
}
else
{
    <div class="row">
        <partial name="_DocumentAllPartial" model="@Model" />
    </div>
}

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
