@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index-page-greeting">Legal World</h1>
    <p class="index-page-greeting-p">Your website for downloading legal document and receiving legal advise</p>

    <img src="~/img/best-lawyers.jpg" style="width: 75vh" />
</div>
