@model TicketForAnswerFormModel

@{
    ViewData["Title"] = "Add legal advise";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_LegalAdviseFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


