@model IEnumerable<LegalAdviseViewModel>
@{
    ViewBag.Title = "All Legal Advises";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h4 class="text-center">There are no legal advises yet!</h4>
}
else
{
    <div class="row">
        <partial name="_LegalAdvisePartial" model="@Model" />
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
