@using LegalHelpSystem.Services.Data.Interfaces;
@using LegalHelpSystem.Web.Infrastructure.Extensions;

@using static LegalHelpSystem.Common.GeneralApplicationConstants;


@inject IUploaderService UploaderService
@inject ILegalAdvisorService LegalAdvisorService

@{
    bool isUploader = await this.UploaderService.UploaderExistsByUserIdAsync(this.User.GetId());
    bool isLegalAdvisor = await this.LegalAdvisorService.LegalAdvisorExistsByUserIdAsync(this.User.GetId());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Legal Help</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LegalHelp.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <partial name="_NotificationsPartial" />
        
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Legal Help</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (this.User.Identity?.IsAuthenticated ?? false)
                            {
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="nav-link text-dark dropdown-toggle" type="button" id="ticketsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tickets
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="ticketsDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Add">Add Ticket</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="All">All Tickets</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Mine">Mine Tickets</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="nav-link text-dark dropdown-toggle" type="button" id="documentsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Documents
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="documentsDropdown">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="All">All Documents</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="Downloaded">Mine Downloaded Documents</a></li>

                                            @if (isUploader)
                                            {
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="Mine">Mine Uploaded Documents</a></li>
                                            }
                                        </ul>
                                    </div>
                                </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="nav-link text-dark dropdown-toggle" type="button" id="documentsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        LegalAdvises
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="documentsDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="LegalAdvise" asp-action="All">All LegalAdvises</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="LegalAdvise" asp-action="Received">Received Legal Advises</a></li>

                                        @if (isLegalAdvisor)
                                        {
                                            <li><a class="dropdown-item" asp-area="" asp-controller="LegalAdvise" asp-action="Given">Given Legal Advises</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>

                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="nav-link text-dark dropdown-toggle" type="button" id="teamDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Team
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="teamDropdown">

                                           @* @if (isUploader)
                                            {
                                                <li><a class="dropdown-item" asp-area="" asp-controller="LegalAdvisor" asp-action="Become">Become Legal Advisor</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="AllTeamMembers">All team members</a></li>
                                            }

                                            else if (isLegalAdvisor)
                                            {
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Uploader" asp-action="Become">Become Uploader of legal documents</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="AllTeamMembers">All team members</a></li>
                                            }
                                            else
                                            {
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Uploader" asp-action="Become">Become Uploader of legal documents</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="LegalAdvisor" asp-action="Become">Become Legal Advisor</a></li>*@
                                            <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="AllTeamMembers">All team members</a></li>
                                            @*}*@
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="nav-link text-dark dropdown-toggle" type="button" id="ticketsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tickets
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="ticketsDropdown">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="All">All Tickets</a></li>
                                        </ul>
                                    </div>
                                </li>
                            }

                    </ul>
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
                ;
            }
            Legal Help <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
