@model LegalAdviseViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4><b>@Model.AdviseResponse</b></h4>
            <h6>Description: <b>@Model.Ticket.Subject</b></h6>
            <h6>Category: <b>@Model.Ticket.RequestDescription </b></h6>
        </div>
    </div>
</div>
