﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <hr class="my-4">
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> tickets, legal advises, documents and their reviews.
    </p>
    <p class="lead mt-1">
        You can also <b>manage </b>all users, uploaders and legal advisors and their reviews.
    </p>
    </hr>

    <hr></hr>

    <h1 class="display-6">Tickets</h1>
        <a asp-area="" asp-controller="Ticket" asp-action="Add"
       class="btn btn-primary btn-lg">Add Ticket</a>
       <p></p>
    <a asp-area="" asp-controller="Ticket" asp-action="All"
       class="btn btn-primary btn-lg">All Tickets</a>
       <p></p>
    <a asp-area="" asp-controller="Ticket" asp-action="All"
       class="btn btn-primary btn-lg">Choose a ticket for edit or delete</a>
    <hr></hr>

    <h6 class="display-6">Legal Advises</h6>
    <a asp-area="" asp-controller="Ticket" asp-action="All"
       class="btn btn-primary btn-lg">Choose a request for legal advise to which to add legal advise</a>
       <p></p>
    <a asp-area="" asp-controller="LegalAdvise" asp-action="All"
       class="btn btn-primary btn-lg">All Legal Advises</a>
       <p></p>
    <a asp-area="" asp-controller="LegalAdvise" asp-action="All"
       class="btn btn-primary btn-lg">Choose a legal advise for edit or delete</a>
    <hr></hr>

        <h6 class="display-6">Documents</h6>
    <a asp-area="" asp-controller="Ticket" asp-action="All"
       class="btn btn-primary btn-lg">Choose a request for document to which to add document</a>
    <p></p>
    <a asp-area="" asp-controller="Document" asp-action="All"
       class="btn btn-primary btn-lg">All Documents</a>
    <p></p>
    <a asp-area="" asp-controller="Document" asp-action="All"
       class="btn btn-primary btn-lg">Choose a document for delete</a>
    <hr></hr>

    <h6 class="display-6">Reviews</h6>
    <a asp-area="" asp-controller="Ticket" asp-action="All"
       class="btn btn-primary btn-lg">Add to legal advise/document or their legal advisor/uploader. Manage through the view button.</a>
    <p></p>
    <a asp-area="" asp-controller="Document" asp-action="All"
       class="btn btn-primary btn-lg">Add to document or their uploader. Manage through the view button.</a>
    <p></p>
    <a asp-area="" asp-controller="LegalAdvise" asp-action="All"
       class="btn btn-primary btn-lg">Add to legal advise or their legal advisor. Manage through the view button.</a>
    <p></p>
    <a asp-area="" asp-controller="User" asp-action="AllUsers"
       class="btn btn-primary btn-lg">Add to legal advisor/uploader. Manage through the view button.</a>
    <p></p>
    <hr></hr>

    <h6 class="display-6">Users</h6>
    <a asp-area="" asp-controller="User" asp-action="AllUsers"
       class="btn btn-primary btn-lg">Manage Users - choose an user to make/unmake legal advisor/uploader</a>
    <hr></hr>
</div>