@model IEnumerable<TicketAllViewModel>
@{
    ViewBag.Title = "Mine Tickets";
}

<h2 class="text-center">@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <h4 class="text-center">You do not have any tickets yet!</h4>
}
else
{
    <div class="row">
        <partial name="_TicketPartial" model="@Model" />
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
