@model IEnumerable<TicketAllViewModel>
@{
    ViewBag.Title = "Sort by status tickets";
}

<h2 class="text-center">@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <h4 class="text-center">There are not tickets yet!</h4>
}
else
{
    <div class="row">
        <partial name="_TicketAllPartial" model="@Model" />
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
